*{
	margin: 0;
	padding: 0;
	list-style: none;
}
#page_content{
	width: 1533px;
	margin-top: 100px;
}
#page_content>p{
	font-size: 30px;
	font-weight: 200;
	text-align: center;
	color: #333333;
	margin-bottom: 20px;
}
#shop_content{
	width: 1160px;
	height: 500px;
	margin: 0 auto;
}
.map-list{
	margin-top: 55px;
	width: 270.02px;
	height: 340px;
	border:1px solid rgb(221,221,221);
}
.map-list h4{
	width: 268px;
	height: 39.17px;
	background: rgb(240,240,240);
	margin: 0;
	line-height: 39.17px;
	font-size: 16px;
	font-weight: 300;
	padding-left: 10px;
}
#map-list{
	width: 268px;
	height: 300px;
}
#map-list li{
	width: 248.02px;
	height: 37.15px;
	padding: 9px 0 9px 9px;
	color: #666666;
	cursor: pointer;
}
#baidu_map{
	width: 850px;
	height: 526px;
}






#top_share{
	position: fixed;
	bottom: 30px;
	right: 30px;
	display: none;
}
#top{
	width: 50px;
	height: 50px;
	background: url(../img/返回顶部.png);
	background-size: 50px 50px;	
	cursor: pointer;
}
#share{
	width: 50px;
	height: 50px;
	background: url(../img/分享.png);
	background-size: 50px 50px;	
	cursor: pointer;
}
#erweima{
	display: none;
	position: absolute;
	left: -220px;
	bottom: 0;
	width: 200px;
	height:200px;
	background: url(../img/con-1.jpg);
	background-size: 200px 200px;
}